* {
    font-family: 'Poppins', sans-serif;
}

body {
    color: #E8EAF6;
    margin: 0;
    padding: 0;
    background-color: #232346;
}

html {
    background-color: #232346;
}

header{
    width: 100%;
    background-color: #5D3FD3;
    padding: 20px 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000; 
}

.header .container{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    height: 70px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo-image {
    height: 60px;
    margin-bottom: 10px;
}

.logo-name {
    height: 40px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between; 
    gap: 25px;
}

main-nav ul li {
    position: relative;
}

.main-nav ul li a {
    text-decoration: none;
    color: #E8EAF6; 
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
    transition: color 0.3s ease;
    position: relative;
}

.main-nav ul li a:hover {
    color: #9F88FF; 
}

.main-nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px; 
    width: 0;
    height: 3px;
    background-color: #9F88FF; 
    transition: width 0.3s ease;
}


.main-nav ul li a:hover::after {
    width: 100%;
}

/*Barra de busqueda*/
.search-bar {
    display: flex;
    align-items: center;
    background-color: #7B6FE7; 
    padding: 5px 20px;
    border-radius: 30px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
}

.search-bar:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15); 
}

.search-bar input {
    border: none;
    padding: 10px;
    background-color: transparent;
    color: #E8EAF6; 
    outline: none;
    font-size: 16px; 
    width: 250px;
    transition: width 0.4s ease; 
}

.search-bar input:focus {
    width: 350px; /* Hacer mas ancha la barra al darle clic*/
}

.search-bar input::placeholder {
    color: #E8EAF6; 
    opacity: 0.7; 
    font-size: 14px; 
}

.search-icon {
    color: #E8EAF6; 
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.search-icon:hover {
    color: #FFFFFF; 
    transition: color 0.2s ease;
}

/*Estilos botones principales*/
.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-buttons .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #E8EAF6;
    background-color: #9F88FF; 
    font-weight: 600;
    text-decoration: none;
}

.auth-buttons .btn:hover {
    background-color: #bfafff; 
    transition: background-color 0.3s ease;
}

.auth-buttons .btn-login {
    border: solid 2px #9F88FF;
    background-color: transparent;
    color: #E8EAF6;
}

.auth-buttons .btn-signin {
    background-color: #9F88FF;
}

/*Estilos foto de usuario*/
.user-profile {
    position: relative;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 150px;
}

.profile-menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.profile-menu a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}




/* Estilos generales */
/* Contenedor principal */

.admin-container, .container {
    width: 1500px;
}

.container, .row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    padding-top: 100px;
}

.admin-container {
    margin: 0 auto;
    width: 100vw;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #232346; /* Fondo oscuro general */
}

.sidebar {
    background-color: #322A6A;
    padding: 20px;
    border-right: 1px solid #27254F;
    display: flex;
    flex-direction: column;
    height: 600px;
    /*justify-content: space-between;*/
}

.sidebar h3 {
    margin-top: 0;
    color: #E8EAF6;
}

.sidebar .nav {
    padding-left: 0;
}

.sidebar .nav-item {
    margin-bottom: 1rem;
}

.sidebar .nav-link {
    color: #E8EAF6;
    text-decoration: none;
    display: block;
}

.sidebar .nav-link.active {
    font-weight: 600;
    background-color: #9F88FF;
    color: #232346;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #456382;
    background-color: #322A6A;
    border-color: #322A6A #322A6A #322A6A;
}

.sidebar a {
    color: #E8EAF6;
    text-decoration: none;
    padding: 10px 0; 
    display: block;
}

.sidebar a:hover {
    background-color: #7B6FE7;
    padding-left: 10px;
    transition: 0.3s;
}

/* Sidebar active link */
.sidebar a.active {
    background-color: #9F88FF;
    padding-left: 10px;
}

.main-content {
    flex: 1;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    background-color: #232346; /* Mantener fondo oscuro en el contenido principal */
    color: #E8EAF6;
}

.content {
    padding: 20px;
    width: 100%;
    background-color: #232346;
}

.admin-section {
    margin-bottom: 2rem;
}

.admin-section button .btn-primary{
    background-color: #9F88FF;
    border: solid 1px #9F88FF;
}

.admin-section button .btn-primary:hover {
    background-color: #9276ff;
    border: solid 1px #9F88FF;
}

.admin-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #E8EAF6;
}

.table {
    margin-bottom: 1rem;
    width: 100%;
    background-color: #232346; /* Fondo de tablas con color principal */
    color: #E8EAF6;
}

.table th, .table td {
    text-align: center;
}

.table .btn {
    margin: 0.2rem;
}

.report-section {
    margin-bottom: 2rem;
}

.modal-header {
    background-color: #5D3FD3;
    color: #E8EAF6;
}

.modal-header .close {
    color: #E8EAF6;
}



/* Estilo general para las tablas de reportes */
h3 {
    color: #E8EAF6;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #232346;
    color: #E8EAF6;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    /*border: 1px solid #101021;*/
    color: #E8EAF6;
}

.table th {
    background-color: #5D3FD3; /* Color principal para las cabeceras */
    color: #E8EAF6;
}

.table tbody tr:hover {
    background-color: #7463E2; /* Resaltar filas al pasar sobre ellas */
}

.table td button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.table td button.btn-info {
    background-color: #9F88FF; /* Color de acento */
    color: white;
}

.table td button.btn-info:hover {
    background-color: #9276ff; /* Hover en botón de detalles */
}


/*Footer*/
.footer {
    bottom: 0;
    background-color: #101021;
    color: #E8EAF6;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #9F88FF;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}